<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robosdk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:requestLegacyExternalStorage="true">
        <activity android:name="com.example.robosdk.Activities.WebViewActivity"></activity>
        <activity android:name="com.example.robosdk.Activities.TakeSurveyActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.example.robosdk.Activities.LocationActivity"
            android:label="@string/title_activity_location" />
        <activity android:name="com.example.robosdk.Activities.NotificationDetailActivity" />
        <activity android:name="com.example.robosdk.Activities.NotificationActivity" />
        <activity android:name="com.example.robosdk.Activities.TransactionHistoryActivity" />
        <activity android:name="com.example.robosdk.Activities.ProfileActivity" />
        <activity android:name="com.example.robosdk.Activities.ContactUsActivity" />
        <activity android:name="com.example.robosdk.Activities.LeaderboardActivity" />
        <activity android:name="com.example.robosdk.Activities.ChangePasswordActivity" />
        <activity android:name="com.example.robosdk.Activities.UploadReceiptActivity" />
        <activity android:name="com.example.robosdk.Activities.TransferPointActivity" />
        <activity android:name="com.example.robosdk.Activities.WaysToEarnActivity" />
        <activity android:name="com.example.robosdk.Activities.OffersDetailActivity" />
        <activity android:name="com.example.robosdk.Activities.OfferActivity" />
        <activity android:name="com.example.robosdk.Activities.ReferFriendActivity" />
        <activity android:name="com.example.robosdk.Activities.RewardEntryGoalActivity" />
        <activity android:name="com.example.robosdk.Activities.CashbackActivity" />
        <activity android:name="com.example.robosdk.Activities.CustomDrawer" />
        <activity android:name="com.example.robosdk.Activities.HomeActivity" />
        <activity android:name="com.example.robosdk.Activities.LoginActivities.VideoMotionLoginActivity" />
        <activity android:name="com.example.robosdk.Activities.LoginActivities.CleanLoginActivity" />
        <activity android:name="com.example.robosdk.Activities.LoginActivities.CleanButtonsLoginActivity" />
        <activity android:name="com.example.robosdk.Activities.SplashActivity" />
    </application>

</manifest>